body {
    display: grid;
    flex-direction: column;
}

header {
    width: 100vw;
    height: 5vh;
    position: relative;
    margin-bottom: 5vh;
}

#high-scores {
    color: palevioletred;
    left: .5%; position: absolute;
}

#time {
    position: absolute;
    right: .5%;
}
h1 {
    size: 30px;
}
main {
    width: 50vw;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-self: center;
    align-items: center;
}

button {
    color:white;
    background-color: #660066;
    width: 20vw;
}