body {
    display: grid;
    background-color: #9999ff;
}

header {
    width: 100vw;
    height: 5vh;
    position: relative;
    margin-bottom: 5vh;
}

#high-scores {
    color: #800033;
    left: .5%; position: absolute;
}

#time {
    position: absolute;
    right: .5%;
}
h1 {
    font-size: 175%;
}
h2 {
    font-size: 150%;
}
P {
    font-size: 110%;
}
ol {
    background-color: lightslategray;
}

main {
    width: 50vw;
    height: 50vh;
    margin-bottom: 15vh;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-self: center;
    justify-content: space-around;
    align-items: center;
}

button {
    color:white;
    background-color: #660066;
    width: 10vw;
}